{% load static %}

<header class="header">
   <nav class="navbar">
      <div class="container">

         <span class="navbar-brand">
         {% if is_home_page %}
            {% include 'includes/logo.html' %}
         {% else %}
            <a href="{% url 'posts:index' %}">{% include 'includes/logo.html' %}</a>
         {% endif %}
         </span>

         <ul class="nav nav-pills">
            {% with request.resolver_match.view_name as current_url %}

            <li class="nav-item">
               <a class="nav-link link-light {% if current_url == 'about:author' %}active{% endif %}"
                  href="{% url 'about:author' %}">Об авторе</a>
            </li>
            <li class="nav-item">
               <a class="nav-link link-light {% if current_url == 'about:tech' %}active{% endif %}"
                  href="{% url 'about:tech' %}">Технологии</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link link-light {% if current_url == 'posts:post_create' %}active{% endif %}"
                  href="{% url 'posts:post_create' %}">Новая запись</a>
            </li>
            <li class="nav-item">
               <a class="nav-link link-light {% if current_url == 'users:password_change' %}active{% endif %}"
                  href="{% url 'users:password_change' %}">Изменить
                  пароль</a>
            </li>
            <li class="nav-item">
               <a class="nav-link link-light"
                  href="{% url 'users:logout' %}">
                  <svg width="1.3em" height="1.3em" viewBox="0 0 8 8">
                     <path fill="currentColor"
                           d="M3 0v1h4v5H3v1h5V0H3zM2 2L0 3.5L2 5V4h4V3H2V2z"/>
                  </svg>
                  <svg class="ms-3" width="1em" height="1em" viewBox="0 0 24 24">
                     <path fill="currentColor" d="M3 5c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5zm2 0v14h14V5H5zm3 13.2a10 10 0 0 1-1.8-1 7 7 0 0 1 5.9-3.2 7 7 0 0 1 5.8 3 10 10 0 0 1-1.7 1 5 5 0 0 0-4.1-2A5 5 0 0 0 8 18.2zm4-5.2a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7zm0-2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>
                  {{ user.username }}
               </a>
            </li>
            {% else %}

            <li class="nav-item">
               <a class="nav-link link-light  {% if current_url == 'users:login' %}active{% endif %}"
                  href="{% url 'users:login' %}">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 8 8">
                     <path fill="currentColor"
                           d="M3 0v1h4v5H3v1h5V0H3zm1 2v1H0v1h4v1l2-1.5L4 2z"/>
                  </svg>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link link-light"
                  href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            {% endif %}
            {% endwith %}
         </ul>

      </div>
   </nav>
</header>